# Node
*.log
*.log.*
node_modules

#plugin
code.js
out/
dist/


#Datasets
RICO/
EGFE/
MASC/
WebUI/

#python
__pycache__/

#configuration
.env
.config
csr/


#Data Folders
output/
figma_features/
modified_designs/
